<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Despesa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Editar Despesa</h1>
        <form method="post" class="mt-3">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
        <a href="{% url 'listar_despesas' %}" class="btn btn-secondary mt-3">Voltar</a>
    </div>
</body>
</html>
