<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Despesas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Despesas</h1>
        
        <a class="btn btn-primary mb-3" href="{% url 'criar_despesa' %}">Criar nova despesa</a>

        <form method="get" action="{% url 'filtrar_despesas_categoria' %}">
            <div class="form-group">
                <label for="categoria_nome">Nome da Categoria:</label>
                <input type="text" name="categoria_nome" class="form-control">
            </div>
            <button type="submit" class="btn btn-secondary mb-3">Filtrar por Categoria</button>
        </form>


        <form method="get" action="{% url 'filtrar_despesas_periodo' %}">
            <div class="form-group">
                <label for="data_inicio">Data de Início:</label>
                <input type="date" name="data_inicio" class="form-control">
            </div>
            <div class="form-group">
                <label for="data_fim">Data de Fim:</label>
                <input type="date" name="data_fim" class="form-control">
            </div>
            <button type="submit" class="btn btn-secondary mb-3">Filtrar por Faixa de Datas</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Categorias</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for despesa in despesas %}
                <tr>
                    <td>{{ despesa.descricao }}</td>
                    <td>{{ despesa.data }}</td>
                    <td>{{ despesa.valor }}</td>
                    <td>
                        {% for categoria in despesa.categorias.all %}
                        {{ categoria.nome }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-info" href="{% url 'editar_despesa' despesa.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'excluir_despesa' despesa.id %}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
