<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Expenses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">List of Expenses</h1>
        
        <a class="btn btn-primary mb-3" href="{% url 'criar_despesa' %}">Create New Expense</a>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Value</th>
                    <th>Categories</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for despesa in despesas %}
                <tr>
                    <td>{{ despesa.descricao }}</td>
                    <td>{{ despesa.data }}</td>
                    <td>{{ despesa.valor }}</td>
                    <td>
                        {% for categoria in despesa.categorias.all %}
                        {{ categoria.nome }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-info" href="{% url 'editar_despesa' despesa.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'excluir_despesa' despesa.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
